// 导航
.return-web-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 0;
  .container {
    .navbar-header {
      .navbar-brand {
        width: 80px;
        height: 42px;
      }
    }
    .return-web-navbar-collapse {
      ul {
        li {
          a {
            margin-top: 8px;
            margin-bottom: 10px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 6px 0 6px 0;
            // padding-left: 0;
            // padding-right: 0;
            &:hover {
              background-color: transparent;
            }
            &.nav-border {
              box-shadow: 0 4px 0 red;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .return-web-navbar {
    .container {
      .navbar-header {
        .navbar-brand {
          margin: 0 15px;
          width: 56px;
        }
      }
    }
  }
}

// case成功案例列表
#myCarousel1 {
  .carousel-inner {
    position: relative;
    margin: 0 8%;
    width: 84%;
    overflow: hidden;
    .item {
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-flow: row wrap;
        li {
          display: flex;
          flex: 0 0 14.285714%;
          margin: 10px 0;
          cursor: pointer;
          list-style: none;
          &:hover {
            box-shadow: inset 0px 0px 5px 0px #ddd;
          }
          a {
            z-index: 999;
            cursor: pointer;
            &:hover {
              img {
                -webkit-filter: grayscale(0);
                -moz-filter: grayscale(0);
                -ms-filter: grayscale(0);
                -o-filter: grayscale(0);
                filter: grayscale(0);
                filter: inherit;
              }
            }
            img {
              width: 100%;
              -webkit-filter: grayscale(100%);
              -moz-filter: grayscale(100%);
              -ms-filter: grayscale(100%);
              -o-filter: grayscale(100%);
              filter: grayscale(100%);
              filter: gray;
            }
          }
        }
      }
    }
  }
  .carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    background-color: transparent;
    background-image: none;
    &.left {
      span {
        background: image-url('circle-left.png') center center no-repeat;
        background-size: contain;
      }
    }
    &.right {
      span {
        background: image-url('circle-right.png') center center no-repeat;
        background-size: contain;
      }
    }
    span {
      display: flex;
      width: 30px;
      height: 30px;
    }
  }
}

/*标题、副标题*/
h1.web-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  &::before,
  &::after {
    content: '';
    width: 3vw;
    height: 4px;
    background-color: #333;
  }
  &::before {
    margin-right: 1%;
  }
  &::after {
    margin-left: 1%;
  }
}
h4.web-subtitle {
  margin-left: 1em;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1em;
}

@media only screen and (max-width: 768px) {
  // 导航
  .return-web-navbar {
    .container {
      .navbar-header {
        a.navbar-brand {
          img {
            height: 20px;
          }
        }
      }
      .return-web-navbar-collapse {
        ul {
          li {
            a {
              padding-top: 6px;
              padding-bottom: 6px;
              &.nav-border {
                box-shadow: 0 4px 0 transparent;
              }
            }
          }
        }
      }
    }
  }

  /*标题、副标题*/
  h1.web-title {
    font-size: 2rem;
  }
  h4.web-subtitle {
    font-size: 1rem;
  }
}

// 底部
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer-web {
  margin-top: 3.5rem;
  .footer-top {
    padding: 5rem 0;
    min-height: 28rem;
    .footer-top-content {
      max-width: 54rem;
      margin: 0 auto;
      color: #fff;
      h1,h2,h3,h4 {
        margin-bottom: 0;
        font-weight: bold;
      }
      h1 {
        margin-top: 0;
        font-size: 5.6rem;
      }
      h2 {
        margin-top: 10px;
        letter-spacing: 10px;
      }
      h4 {
        margin-bottom: 4rem;
      }
      p {
        margin-bottom: 0;
        text-align: center;
        .footer-top-content-btn {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}
.footer-bottom {
  margin: 42px 0 0;
  padding: 16px 0;
  width: 100%;
  color: #fff;
  background-color: black;
}
@media only screen and (max-width: 750px) {
  .footer-web {
    .footer-top {
      .footer-top-content {
        padding: 0 10px;
        text-align: center;
        h1 {
          font-size: 2.4rem;
        }
        h2 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1.8rem;
        }
        h4 {
          font-size: 1.6rem;
        }
      }
    }
  }
}

// case
.pic-wrap1,
.pic-wrap2,
.pic-wrap3 {
  position: relative;
  margin: 0 1vw;
  padding: 0;
  a.pic-link {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.pic-top {
  margin-top: 1vw;
}
.pic-wrap1 {
  height: 65vw;
  a.pic-link {
    &.pic-a {
      top: 0;
      left: 0;
      width: 15.5vw;
      height: 32vw;
    }
    &.pic-b {
      top: 0;
      left: 16.5vw;
      width: 48.5vw;
      height: 32vw;
    }
    &.pic-c {
      top: 0;
      left: 66vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-d {
      top: 0;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-e {
      top: 33vw;
      left: 0;
      width: 48.5vw;
      height: 32vw;
    }
    &.pic-f {
      top: 33vw;
      left: 49.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-g {
      top: 16.5vw;
      left: 66vw;
      width: 15.5vw;
      height: 32vw;
    }
    &.pic-h {
      top: 16.5vw;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-i {
      top: 33vw;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-j {
      top: 49.5vw;
      left: 49.5vw;
      width: 32vw;
      height: 15.5vw;
    }
    &.pic-k {
      top: 49.5vw;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
  }
}
.pic-wrap2 {
  height: 32vw;
  a.pic-link {
    &.pic-a {
      top: 0;
      left: 0;
      width: 32vw;
      height: 15.5vw;
    }
    &.pic-b {
      top: 0;
      left: 33vw;
      width: 48.5vw;
      height: 32vw;
    }
    &.pic-c {
      top: 0;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-d {
      top: 16.5vw;
      left: 0;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-e {
      top: 16.5vw;
      left: 16.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-f {
      top: 16.5vw;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
  }
}
.pic-wrap3 {
  height: 48.5vw;
  a.pic-link {
    &.pic-a {
      top: 0;
      left: 0;
      width: 32vw;
      height: 48.5vw;
    }
    &.pic-b {
      top: 0;
      left: 33vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-c {
      top: 0;
      left: 49.5vw;
      width: 48.5vw;
      height: 32vw;
    }
    &.pic-d {
      top: 16.5vw;
      left: 33vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-e {
      top: 33vw;
      left: 33vw;
      width: 32vw;
      height: 15.5vw;
    }
    &.pic-f {
      top: 33vw;
      left: 66vw;
      width: 15.5vw;
      height: 15.5vw;
    }
    &.pic-g {
      top: 33vw;
      left: 82.5vw;
      width: 15.5vw;
      height: 15.5vw;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .web-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
  }
  .pic-top {
    margin-top: 12px;
  }
  .pic-wrap1,
  .pic-wrap2,
  .pic-wrap3 {
    position: relative;
    a.pic-link {
      position: absolute;
      cursor: pointer;
      overflow: hidden;
    }
  }
  .pic-wrap1 {
    height: 756px;
    a.pic-link {
      position: absolute;
      cursor: pointer;
      overflow: hidden;
        &.pic-a {
          top: 0;
          left: 0;
          width: 180px;
          height: 372px;
        }
        &.pic-b {
          top: 0;
          left: 192px;
          width: 564px;
          height: 372px;
        }
        &.pic-c {
          top: 0;
          left: 768px;
          width: 180px;
          height: 180px;
        }
        &.pic-d {
          top: 0;
          left: 960px;
          width: 180px;
          height: 180px;
        }
        &.pic-e {
          top: 384px;
          left: 0;
          width: 564px;
          height: 372px;
        }
        &.pic-f {
          top: 384px;
          left: 576px;
          width: 180px;
          height: 180px;
        }
        &.pic-g {
          top: 192px;
          left: 768px;
          width: 180px;
          height: 372px;
        }
        &.pic-h {
          top: 192px;
          left: 960px;
          width: 180px;
          height: 180px;
        }
        &.pic-i {
          top: 384px;
          left: 960px;
          width: 180px;
          height: 180px;
        }
        &.pic-j {
          top: 576px;
          left: 576px;
          width: 372px;
          height: 180px;
        }
        &.pic-k {
          top: 576px;
          left: 960px;
          width: 180px;
          height: 180px;
        }
    }
  }

  .pic-wrap2 {
    height: 372px;
    a.pic-link {
      &.pic-a {
        top: 0;
        left: 0;
        width: 372px;
        height: 180px;
      }
      &.pic-b {
        top: 0;
        left: 384px;
        width: 564px;
        height: 372px;
      }
      &.pic-c {
        top: 0;
        left: 960px;
        width: 180px;
        height: 180px;
      }
      &.pic-d {
        top: 192px;
        left: 0;
        width: 180px;
        height: 180px;
      }
      &.pic-e {
        top: 192px;
        left: 192px;
        width: 180px;
        height: 180px;
      }
      &.pic-f {
        top: 192px;
        left: 960px;
        width: 180px;
        height: 180px;
      }
    }
  }
  .pic-wrap3 {
    height: 564px;
    a.pic-link {
      &.pic-a {
        top: 0;
        left: 0;
        width: 372px;
        height: 564px;
      }
      &.pic-b {
        top: 0;
        left: 384px;
        width: 180px;
        height: 180px;
      }
      &.pic-c {
        top: 0;
        left: 576px;
        width: 564px;
        height: 372px;
      }
      &.pic-d {
        top: 192px;
        left: 384px;
        width: 180px;
        height: 180px;
      }
      &.pic-e {
        top: 384px;
        left: 384px;
        width: 372px;
        height: 180px;
      }
      &.pic-f {
        top: 384px;
        left: 768px;
        width: 180px;
        height: 180px;
      }
      &.pic-g {
        top: 384px;
        left: 960px;
        width: 180px;
        height: 180px;
      }
    }
  }
}

 // 导航
.navbar {
  border: 0;
}
body.web__home__case,
body.web__home__about,
body.web__home__contact {
  .return-web-navbar {
    background: image-url('resever-header-bg.png') no-repeat;
    background-size: 100% 100%;
    .container {
      .navbar-header {
        .navbar-brand {
          background: image-url('resever-header-logo.png') center center no-repeat;
          background-size: contain;
        }
      }
      .return-web-navbar-collapse {
        ul {
          li {
            a {
              color: #000;
              font-weight: 600;
              &:hover {}
            }
          }
        }
      }
    }
  }
}

.top-20 {
  margin-top: 20px;
}
.top-50 {
  margin-top: 50px;
}