// Place all the styles related to the web/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.web__home__index {
  // 导航
  .return-web-navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    background: image-url('header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    .container {
      .navbar-header {}
      .return-web-navbar-collapse {
        ul {
          li {
            a {
              color: #fff;
              &:hover {}
            }
          }
        }
      }
    }
  }

  // 轮播
  .web-carousel {
    ol.carousel-indicators {
      li {
        margin: 0 10px;
        width: 14px;
        height: 14px;
        &.active {
          margin: -2px 10px;
          width: 18px;
          height: 18px;
          border-color: red;
          background-color: inherit;
          .dot {
            margin: 3px auto;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: red;
          }
        }
      }
    }
    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

@media only screen and (max-width: 1200px) {
  // 轮播
  .web-carousel {
    a {
      img {
        width: 60px;
        height: 120px;
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  // 轮播
  .web-carousel {
    a {
      img {
        width: 50px;
        height: 100px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {

  // 轮播
  .web-carousel {
    a {
      img {
        width: 20px;
        height: 40px;
      }
    }
    .carousel-indicators {
      bottom: 0;
    }
  }
}
