<div class="jumbotron">
  <div class="container footer-web">
    <div class="footer-top bg-red">
      <div class="footer-top-content">
        <h1>LET'S GET TO WORK.</h1>
        <h2>让我们开始工作。</h2>
        <h3>Have an unsolvable problem or audacious idea? We'd love to hear about it.</h3>
        <h4>有问题需要解决或超前的想法？来跟我们聊聊吧。</h4>
        <p>
          <a class="footer-top-content-btn" href="./contact.html">
            <%= image_tag('footer-btn.png') %>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center footer-bottom">
  <div class="container">
    2001-2017. COPYRIGHT @ RETURN. ALL RIGHTS RESERVED.
  </div>
</div>