<nav class="navbar return-web-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".return-web-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:void(0);" class="navbar-brand">
        <%= image_tag('header-logo.png') %>
      </a>
    </div>

    <div class="collapse navbar-collapse return-web-navbar-collapse">
      <ul class="nav navbar-nav navbar-right js-text-switch">
        <li>
          <a class="navbar-link" data-name='主页' data-ename='HOME' href=""></a>
        </li>
        <li>
          <a class="navbar-link" data-name='案例' data-ename='CASE' href=""></a>
        </li>
        <li>
          <a class="navbar-link" data-name='关于我们' data-ename='ABOUT' href=""></a>
        </li>
        <li>
          <a class="navbar-link" data-name='联系我们' data-ename='CONTACT' href=""></a>
        </li>
      </ul>
    </div>
  </div>
</nav>


